<div class="container">
  <div class="jumbotron">
    <h3>Welcome to demo google authenticator</h3>
    <div class="link_home_page">
      <a href="<%= new_two_factor_settings_path %>">Setting Two Factor</a>
      <a href="<%= destroy_user_session_path %>">Logout</a>
    </div>
  </div>
</div>
